<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Mi porfolio Luis Monllor</title>

</head>
<header>
    <nav-bar>
         
        <ul>
            <li><a class="titulo-home" href="#">Full stack developer</a></li>
            <li><a href="#">About-me</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </nav-bar>

</header>
<body>
    <img src="/img/fondo-matrix.jpg" alt="">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ipsum ut odit error dolores obcaecati 
        inventore repellendus cumque minima, aliquam doloribus qui sed explicabo fugiat magnam culpa 
        exercitationem consectetur! Omnis.</p>

</body>
<footer>
<section>
    <a href="#">About-me</a>
</section>
<section>
<a href="#">Works</a>
</section>
<section>
    <a href="#">contact</a>
</section>

</footer>
</html>